<header id="fh5co-header-section" class="sticky-banner">
    <div class="container">
        <div class="nav-header">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
            <h1 id="fh5co-logo"><a href="index.htm"><i class="icon-airplane"></i>爱旅行@Travel $!{userBaseInfo.realName}</a></h1>
            <!-- START #fh5co-menu-wrap -->
            <nav id="fh5co-menu-wrap" role="navigation">
                <ul class="sf-menu" id="fh5co-primary-menu">
                    <li #if($!{service}=="index")  class="active" #end><a href="index.htm">主页</a></li>
                    <li #if($!{service}=="vacation")  class="active" #end>
                        <a href="vacation.htm" class="fh5co-sub-ddown">度假</a>
                        <ul class="fh5co-sub-menu">
                            <li><a href="#">Family</a></li>
                            <li><a href="#">CSS3 &amp; HTML5</a></li>
                            <li><a href="#">Angular JS</a></li>
                            <li><a href="#">Node JS</a></li>
                            <li><a href="#">Django &amp; Python</a></li>
                        </ul>
                    </li>
                    <li#if($!{service}=="flight")  class="active" #end><a href="flight.htm">航班</a></li>
                    <li#if($!{service}=="hotel")  class="active" #end><a href="hotel.htm">酒店</a></li>
                    <li#if($!{service}=="car")  class="active" #end><a href="car.htm">租车</a></li>
                    <li#if($!{service}=="blog")  class="active" #end><a href="blog.htm">博客</a></li>
                    <li#if($!{service}=="contact")  class="active" #end><a href="contact.htm">联系我们</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>